.projects {
    position: relative;
    top: 200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle{
    top: 15vh;
    left: -15vw;
}
.projects .toggle {
    position: relative;
    width: 100px;
    height: 60px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects.active li{
    scale: 1;
    transition: 0.5s;
    transition-delay: calc(0.5s / 8 * var(--i));
}

.projects li{
    position: absolute;
    top: 450px;
    left: 20px;
    list-style: none;
    transition: 0.5s;
    transform: rotate(calc(360deg / 8 * var(--i)));
    transform-origin: 32vw;
    /* transform-origin: 30% 40%; */
    scale: 0;
}

.projects li .mong{
    position: relative;
    display: flex;
    transform: rotate(calc(360deg / -8 * var(--i)));
    z-index: 1;
    color: red;
    width: auto;
    height: 10px;
    border-radius: 10px;
    background-color: #fff;
}
.data{
    content: "";
    background-color: #fff;
    position: relative;
    z-index: 2;
    width: 400px;
    height: 150px;
    letter-spacing: 2px;
    border-radius: 10px;
}
.DesData{
    width: 300px;
    color: var(--secondary-color);
}