@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-family: 'Poppins', sans-serif;
    --primary-color: #2196f3;
    --secondary-color: #292d3b;
    --third-color:rgb(19, 19, 19);
    --fourth-color: rgb(22, 183, 205);
    --border-radius: 10px;
    background: linear-gradient(235deg, rgba(189,96,209,1) 17%, rgba(33,150,243,1) 50%, rgba(189,96,209,1) 83%);
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /* color: #0087ca; */
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--fourth-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }